<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body >
</html >
<!--
warning : Closing tag matches nothing
태그 앞 부분이 header 에 있는 걸로 인식하지 못해서 생기는 경고문(실행에는 문제 없음)
-->